PORT=your_port_here
MONGODB_USER=your_username_here
MONGODB_PASSWORD=your_password_here
MONGODB_URL=your_url_here
MONGODB_DB=your_database_here

SMTP_HOST=your_host
SMTP_PORT=your_port
SMTP_USER=your_email
SMTP_PASSWORD=your_password
SMTP_FROM=your_email
APP_DOMAIN=your_domain
JWT_SECRET=your_secret_key
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret


SAVE_FILE_STRATEGY=ddd
